*{
    margin: 0;
    padding: 0;
    
    text-transform: capitalize;
}
.card{
    text-align: center;
}

.container-fluid {
    background-color: gray;
   
  
   
}

.container-fluid a{
    background-color: gray;
   
}


.footer-first-shortcut-links {
    background-color: #d1cccc;
    color: #0b0b0b;
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .footer-first-shortcut-links p {
    font-weight: bold;
    margin-bottom: 14px;
  }
  
  .footer-first-shortcut-links .links a {
    font-size: 14px;
    color: #080808;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  .footer-first-shortcut-links .links a:hover {
    text-decoration: underline;
  }
  .footer-first-shortcut-links .links a i {
    margin-right: 4px;
  }

  .footer-middle-section .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width:976px){
    .hid{
      display: none;
    }
    
  }
  

  
